@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.logo {
  padding-top: 131px;
  text-align: center;
}
.img__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23.46px;
}
.container__p__login {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 45px;
}
.form__p__email {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.input__div__email {
  display: flex;
}
.input__email {
  border: none;
  background: #f1f3f6;
  border-radius: 8px;
  width: 360px;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.rectangle {
  background: #fd7401;
  border-radius: 8px;
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}
.frame1 {
  display: block;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-top: 13px;
}
.input__div__password {
  display: flex;
  margin-bottom: 10px;
}
.input__password {
  border: none;
  background: #f1f3f6;
  border-radius: 8px;
  width: 360px;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
}
.form__a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  color: #1e2772;
  text-align: right;
}
.div__a {
  text-align: right;
  margin-bottom: 33px;
}
.form__div {
  padding-left: 35px;
  padding-right: 35px;
}
.form__button {
  width: 410px;
  height: 50px;
  background: #fd7401;
  box-shadow: 0px 8px 12px rgba(253, 116, 1, 0.3);
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
}
.or {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 23px;
}
.line {
  width: 175px;
  height: 0px;
  border: 1px solid #c2c2c2;
}
.or__p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c2c2c2;
  margin-left: 20px;
  margin-right: 20px;
}
.button__signup {
  box-sizing: border-box;
  width: 410px;
  height: 50px;
  border: 1px solid #fd7401;
  filter: drop-shadow(0px 8px 12px rgba(253, 116, 1, 0.3));
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fd7401;
  margin-left: 35px;
  margin-right: 35px;
}
